<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>share</key>
	<string>CSJSShareAction</string>
	<key>getLocationInfo</key>
	<string>CSGetLocationInfoAction</string>
	<key>getDeviceInfo</key>
	<string>CSGetDeviceInfoAction</string>
</dict>
</plist>
